*{
    border: 0;
    margin: 0;
    font-family: Open Sans;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 1vh 2vw 0 2vw; */
}
nav{
    display: flex;

    width: 90%;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
   
}
#containt{
    display: flex;
    justify-content: space-evenly;
    width: 370px;
    background-color: none ;
    align-items: center;
    height: 10px;
    font-size: 15px;
    padding: 1rem;
}
#containt a{
    color: black;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightgray;
    font-weight: bold;
}
#containt a:hover{
    color: black;
    /* font-size: 1.4rem; */
}
#containt h2{
    color: rgb(69, 7, 150);
}
#containt h2:hover{
    font-size: 2.4rem;
}
#darkmode{
    background-color: white;
    border-radius: 4rem;
    border: 2px solid gray;
    height: 20px;
    padding: 2px;
    width: 40px;
    display: flex;
    
    
}
.dot{
    background-color: gray;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.box{
    height: 80vh;    
    opacity: 0;
    transition: all 0;
}
#heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
/* img{
    display: none;
} */
#heading h1{
    color: rgb(15, 1, 66);

}
 .picture{
    height: 30vh ;
    width: 30vh;
    border-radius: 50%;
    border: 3px solid lightgray;
    box-shadow: 1px 1px 15px gray;
    background-size: cover;
    background-image: url("summer-anime-girl-pool-aesthetic-desktop-wallpaper.jpg");
    margin-top: 20px;
}
#intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(69, 7, 150);
    width: 100%;
    color: white;
}
#intro h3, p{
    padding: 20px;
    padding-top: 0;
    text-align: center;
}
#intro h3{
    font-size: 26px;
}
.new{
    display: grid;
    grid-template-columns: repeat(3,33.33%);
    margin: -18vh 7vw 1vh 7vw;
    /* border: 1px solid black; */
    border-radius: 15px;
    padding: 30px;
    text-align: center;
    background-color: white;
    box-shadow: 2px 2px 8px gray;
}
.new h3{
    color: rgb(69, 7, 150);
}
.inner{  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 95%; 
    padding-top: 20px;
}
#logo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 23%;
}
#logo p{
    font-size: 20px;
    
    font-weight: bold;
}
/* #symbol{
    font-size: 30px;
} */
 .fa-solid{
    font-size: 30px;
 }
#border{
    border: 2px solid rgb(230, 229, 229);
    border-bottom: none;
    border-top: none;
}
.enjoy h4, .design-tools h4{
    color: rgb(69, 7, 150);
}
.enjoy p, .design-tools p{
    font-size: 13px;
}
#works{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
}
#works h2{
    color: rgb(69, 7, 150);
}
#small{
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(3,33.3%);

    width: 70%;
    height: 180vh;
    grid-gap: 30px;
}
.devision{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#first,#second,#third,#forth,#fifth,#sixth{
    opacity: 70%;
    border-radius: 20px;
    box-shadow: 1px 2px 8px gray;
}
#first{
    background-image: url(top-view-notebooks-calculator_23-2149103982.avif);
    background-size: cover;   
}
#first:hover{
    
    background-color: brown;
    background-image: none;
}
.hidden{
    opacity: 0;
    transition: all 0;
}
.show{
    opacity: 1;
    transition: all 1s;
}